.jumbo {
  background-image: url('../src/Lucerne\ copy.jpg');
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
}
/* This is for Gallery */
.hi{
  width: 280px;
  height :250px
}

.card {
  width :280px;
  margin :30px;
  height :500px;
}

.galleryimg {
  display: inline-block;
}

.button {
  margin :30px;
}

.butt {
  margin :10px;
}


/* This Is For Detail */

.mediaimg {
  width:700px;
  margin : 30px;
}

.mediaheading{
  font-size : 60px;
  margin:15px;
}

.details{
  font-size :30px;
  margin:15px;
}


