.jumbo {
  background-image: url('../src/Lucerne\ copy.jpg');
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
}
/* This is for Gallery */
.hi{
  width: 280px;
  height :250px
}

.card {
  width :280px;
  margin :30px;
  height :500px;
}

.galleryimg {
  display: inline-block;
}

.button {
  margin :30px;
}

.butt {
  margin :10px;
}


/* This Is For Detail */

.mediaimg {
  width:700px;
  margin : 30px;
}

.mediaheading{
  font-size : 60px;
  margin:15px;
}

.details{
  font-size :30px;
  margin:55px;
  text-align : center;
}

/* Profile */
.mediaprofilepic {
  width :500px;
  height :500px;
  border-radius : 250px;
  margin-left : 100px;
  margin-bottom: 60px;
}

.picSubmit{
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 40px;
  font-size : 60px;
}

.profilemodal{
  text-align: center;
}

/* Homepage */
.carouselimg{
  width: 1700px;
  height : 800px;
  padding : 80px;
  
 
}



