.jumbo {
  background-image: url('../src/Images/Lucerne\ copy.jpg');
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
}
/* Homepage */
.container{
  margin-top : 70px;
}

.col {
  margin :40px;
  background-color :rgb(79, 104, 130);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color : white;
  padding : 20px;
}


/* This is for Gallery */
.hi{
  width: 270px;
  height :250px
}

.card {
  width :270px;
  margin :30px;
  height :500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.galleryimg {
  display: inline-block;
}

.form-control{
  width :60%;
  margin : auto;
  border-radius: 30px;
}

.form-group{
  margin:30px;
  text-align: center;
}

.button  {
  margin :30px;
}

.butt {
  margin :10px;
}


/* This Is For Detail */

.mediaimg {
  width:700px;
  margin : 50px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mediaheading{
  font-size : 60px;
  margin:15px;
}

.details{
  font-size :30px;
  margin:55px;
  text-align : center;
}

h2,h3,h4 {
  text-align: center;
  margin :30px;
}

.backtogallery{
  text-align: center;
  margin : 50px;
}



/* Profile */
.mediaprofilepic {
  width :500px;
  height :500px;
  border-radius : 250px;
  margin-left : 100px;
  margin-bottom: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.picSubmit{
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 40px;
  font-size : 60px;
  
}

.profilemodal{
  text-align: center;
}

.listOfArtwork{
  margin : 70px; 
}


span {
  margin : 7px;
}



.artworkListInner {
  display : inline-block;
  width : 45%;
  margin : 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imagelists{
  width :250px;
  height :250px;
  border-radius : 10px;
  margin : 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Homepage */
.carouselimg{
  width: 1700px;
  height : 800px;
  padding : 80px;
  
 
}

/* Purchase */
.biddingArtwork{
  margin:60px;
}

/* PurchaseForm */
.purchaseForm{
  margin:20px;
  display:inline-block;
}


